<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>TicketTac</title>
</head>
<body>
    <%- include('navbar')%>
    <div class="container-fluid d-flex flex-column align-items-center" >
        <div class="col xs-12 col-md-10 col-lg-8  d-flex flex-column  mt-5 ">
            <h4 class="titleForm offset-1">My tickets :</h4>
            <table id="plannedjourney" class="table table-bordered"   cellspacing="0" >
                <thead>
                  <tr>
                    <th>Journey</th>
                    <th>Date</th>
                    <th>Departure time</th>
                    <th>Price</th>
                  </tr>
                </thead>
                
                <tbody>
                    <% var totalCmd=0 %>
                    <% for(var i=0;i<lastrip.length;i++){ %> 
                    <tr>
                        <td><%= lastrip[i].departure %>/<%= lastrip[i].arrival %></td>
                        <td><%= lastrip[i].date %></td>
                        <td><%= lastrip[i].departureTime %>h</td>
                        <td id="price" type="number"><%= lastrip[i].price %>€</td>
                    </tr>
                <% } %>
                </tbody>
            </table>
            <div class="d-flex flex-row-reverse"><a href="/homepage"><button class="btn btn-danger" >Retour</button>    </a></div>
        </div>
    </div>
</body>
</html>